body{
    font-size:90%;
    background-color:#eeeeee;
}

td.odd{
    width:200px;
}

td.even{
    width:500px;
}

tr{
    height:35px;
}

tr.visibilityNone{
    height:0px;
}

textarea{
    width:400px;
    height:200px;
}

select{
    width:270px;
}

label{
    font-size:13px;
    font-weight:bold;
}

.ui-datepicker-div{
font-size:10px;
}

.styledButton {
	-moz-box-shadow:inset 0px 0px 0px -30px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px -30px #ffffff;
	box-shadow:inset 0px 0px 0px -30px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #d9d6d9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #d9d6d9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#d9d6d9');
	background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:0.73em;
	font-weight:bold;
	padding:5px 30px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.styledButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d9d6d9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #d9d6d9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d6d9', endColorstr='#f9f9f9');
	background-color:#d9d6d9;
	cursor:pointer;
}.styledButton:active {
	position:relative;
	top:1px;
}


.contentDiv{
	color:#ffffff;
}



.header{
	width:100%;
	font-family:'Lato',Calibri,Arial,sans-serif;
}

.logo{
	margin-left:8%;
}

.bodyContent{
    width:90%;
    min-height:625px;
    display:inline-block;
    margin-left:5%;
    border:2px solid #eeeeff;
    border-top:none;
    border-bottom:none;
    background-color:#ffffff;
}


.innerContent{
  padding:20px;
  width:100%;
  background-color:#ffffff;
}

.formContent{
    width:100%;
    padding-top:2%;
    padding-left:10%;
}

.contentHeader{
    background-color:#46BCD2;
    width:100%;
    padding:5px 20px 5px 40px;
    min-height:30px;
}

.contentHeader span{
    color:#ffffff;
    font-family:'Lato',Calibri,Arial,sans-serif;
    font-size:1.3em;
    font-weight:normal;
}
.actionButtons{
    float:right;
    margin-right:10px;
}

.flashContent{

}


.leftcon{ width: 17%; float:left; margin-right:25px; position:fixed;}
.right_canvas{ width: 79%; float:right; border:1px solid #d7d5d6; padding:15px; background:#fafafa;margin-bottom:20px;min-height:50px;}
#accordion .ui-accordion-header-icon{ right: 0.5em!important; margin-top: -8px; position: absolute; top: 50%; left:none!important;}
#accordion h3{ font-size:14px!important; font-weight:regular!important;}
.allsearch{border:1px solid #aaaaaa; height:20px; width:190px; font-size:12px!important; font-weight:regular; padding-left:5px;}
#accordion .set1 ul { list-style: none outside none!important;; padding: 0px!important;; font-size: 12px!important; margin:0!important; }
#accordion .set1 ul li{ line-height:2em; cursor:move }
#accordion .set1 #attriblist{ max-height:200px;  overflow:auto; margin-top:10px;}
.ui-accordion .ui-accordion-content{ padding:5px 0 0 13px!important;}
.attrib_container{ margin:0 auto; float:left; border:1px dotted #d7d5d6; padding:20px; background:#E4E4E4; min-height:83px; width:667px;}
.rightcon_sets{ padding-bottom:0px; margin-bottom:5px;}
.main_container{ float:left; margin-bottom:20px;width:100%;}
.rightcon_attribs{ border: dashed 1px #999999; padding:10px; background:#fff; float:left; width:100%;font-size:.80em;}
.attrib_name{ margin-right:20px; float: left; width:10%; margin-top:2px;}
.attrib_name, .attrib_select, .attrib_input{ margin-right:20px; float: left; width:20%;}
.attrib_del{ float: right;margin-top:3px;margin-right:10px;}
.attrib_input .allsearch{border:1px solid #aaaaaa; margin-left:10px; height:2em; width:190px; font-size:12px!important; font-weight:regular; padding-left:3px;}
.attrib_clear{ clear:both; padding:0; margin:0;}
.attrib_andbtns{ float:left; width:auto; }
.attrib_andbtn{ font-weight:bold; color:#fff; background:url('images/btn_bg.png') repeat-x top left #fff; float:left; font-size:12px!important; font-weight:regular; padding:2px 10px; margin-right:10px; border-left: solid 1px #c96e28;border-right: solid 1px #c96e28; width: auto;}
.container_btns .attrib_andbtn{ font-weight:bold; color:#fff; background:url('images/closebtn_bg.png') repeat-x top left #fff; float:left; font-size:12px!important; font-weight:regular; padding:3px 10px; margin-right:10px; border-left: solid 1px #7d7d7d;border-right: solid 1px #7d7d7d; width: auto;}
.container_btns .attrib_andbtn:hover{ font-weight:bold; color:#000; background:url('images/btn_bg.png') repeat-x top left #fff; float:left; font-size:12px!important; font-weight:regular; padding:3px 10px; margin-right:10px; border-left: solid 1px #c96e28;border-right: solid 1px #c96e28; width: auto;}
.attrib_andbtn a, .container_closebtn a, .container_closebtn a:visited .attrib_andbtn a:visited { text-decoration:none; color:#fff;}
.container_closebtn{font-weight:bold; color:#fff; background:url('images/closebtn_bg.png') repeat-x top left #fff; float:left; font-size:12px!important; font-weight:regular; padding:3px 5px; margin-right:10px; border-left: solid 1px #7d7d7d;border-right: solid 1px #7d7d7d;width:20px;height:20px;}
 .container_closebtn:hover{font-weight:bold; color:#000; background:url('images/btn_bg.png') repeat-x top left #fff; float:left; font-size:12px!important; font-weight:regular; padding:3px 5px; margin-right:10px; border-left: solid 1px #c96e28;border-right: solid 1px #c96e28;}
.attrib_subgroup_container{ margin:0 auto; float:left; border:1px dotted #d7d5d6; padding:20px; background:#d3d3d3; min-height:60px; min-width:550px;}
.clickedMainContainer{background-color:#ECEEE2}
.highlightContainer{background-color:#BBBBBB}