@import  url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);


body {
/*background: bg.jpg no-repeat center center fixed; */
    /*background: url(bg.jpg) repeat scroll left top #ddd;*/
    color: #FFF;
    font-family: open-sans, sans-serif;
}

.flat-form {
    background: #517897;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 400px;
    height: 370px;
    position: relative;
    font-family: open-sans, sans-serif;
}

.tabs {
    background: #f06f23;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.tabs li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs a {
    background: #f06f23;
    display: block;
    float: left;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding: 12px 22px;
    outline: none;
/*border-right: 1px solid @tab-border;*/
}

.tabs li:last-child a {
    border-right: none;
    width: 209px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.tabs a.active {
    background: #f04d23;
    border-right: none;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}

.form-action {
    padding: 0 20px;
    position: relative;
}

.form-action h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.form-action p {
    font-size: 14px;
    padding-bottom: 25px;
    line-height: 25px;
}

form {
    padding-right: 20px !important;
}

form input[type=text],form input[type=password],form input[type=submit] {
    font-family: open-sans, sans-serif;
    font-size: 16px;
}

form input[type=text],form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    background: #fff;
    border: none;
    color: #000;
}

input:focus {
    border-color: rgba(229,103,23,0.8);
    box-shadow: inset 0 0 2px 2px #F06F23;
    outline: 0 none;
}

.dark-box {
    background: #5e0400;
    box-shadow: 1px 3px 3px #3d0100 inset;
    height: 40px;
    width: 50px;
}

.form-action .dark-box.bottom {
    position: absolute;
    right: 0;
    bottom: -24px;
}

.tabs + .dark-box.top {
    position: absolute;
    right: 0;
    top: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
/*box-shadow: 0px 3px 1px #2075aa;*/
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.button:hover {
    background: #1e75aa;
/*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
    background: #136899;
    outline: none;
/*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
    color: #e74c3c;
}

:-moz-placeholder {
/* Firefox 18- */
    color: #000;
}

::-moz-placeholder {
/* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #e74c3c;
}